<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
</head>

<body>

<br><br>
<main class="container">

    <div class="starter-template">
        <h2>Grassroots Donor</h2>
        <p>We'll help you find a California legislative candidate to donate to!</p>
    </div>

    <div class = "container">
        <form  action="/output" method="GET">
            <div class="form-group">
          <label for="user_party">I want to support a:</label>
          <select id="user_party", name='user_party' style="width: 150px;">
              <option value='republican'>  Republican </option>
<!--              <option value='ne_republican'> Non-Establishment Republican</option>-->
              <option value='democrat'>  Democrat </option>
<!--              <option value='ne_democratic'> Non-Establishment Democrat</option>-->
            </select>
        </div>
            <div class="form-group">
          <label for="user_priority">My priority is:</label>
          <select id='user_priority', name='user_priority' style="width: 300px;">
                <option value='ideology'>  Ideological Alignment </option>
                <option value='winning'> Likelihood of Winning</option>
            </select>
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Find California Legislature Candidates!</button>
        </div>
      </form>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</main> <!-- /.container-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>