<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>PolitImpact</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
</head>

<body>

<br><br>
<main class="container">

    <div class="starter-template">
        <h2>PolitImpact</h2>
        <p>Enter preferences</p>
    </div>

    <div class = "container">

        <form  action="/output" method="GET">
            <div class="form-group">
                <label for="user_today">2018 Date to simulate</label>
                <input type="text" id="user_today" name="user_today" placeholder="Leave empty for all 2018">
                <br>
                <label for="user_party">What political party do you support?</label>
                <input type="text" id="user_party" name="user_party" placeholder="e.g. Democratic or Republican">
                <br>
                <label for="user_priority">Prioritize winning chance or ideology alignment </label>
                <input type="text" id="user_priority" name="user_priority">
                <br>
            </div>

            <div>
                <button type="submit" class="btn btn-default btn-lg">Find my state candidate!</button>
            </div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </main> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
        <h3>Results:</h3>
        <p class="lead">These are the races where you could have an impact!</p>
      </div>

      <table class="table table-hover">
      <tr>
          <th>Office</th>
          <th>Candidate</th>
<!--          <th>Win Chance Before</th>-->
          <th>Predicted vote share</th>
          <th>Donation Required</th>
          <th>Ideology Alignment Score</th>
          <th>Party</th>
          <th>Campaign Site Link<th></tr>
      {% for record in recommendations %}
      <tr><td>{{ record['CONTEST_NAME']}}</td>
          <td>{{ record['CANDIDATE_NAME']}}</td>
<!--          <td>{{ record['win_chance_before'] }}</td>-->
          <td>{{ record['PRED_VOTE_PCT'] }}</td>
          <td>{{ record['MIN_DONATION'] }}</td>
          <td>{{ record['IDEOLOGY_ALIGNMENT'] }}</td>
          <td>{{ record['PARTY_NAME'] }}</td>
          <td><a href={{ record['web_link'] }}>{{ record['web_link'] }}</a></td>
      </tr>
      {% endfor %}
      </table>


     </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>