<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>PolitImpact</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
</head>

<body>

<br><br>
<main class="container">

    <div class="starter-template">
        <h2>PolitImpact</h2>
        <p>Enter preferences</p>
    </div>

    <div class = "container">

       <form  action="/output" method="GET">
            <div class="form-group">
                <label for="user-party">What political party?</label>
                <input type="text" id="user-party" name="user-party" placeholder="e.g. Democratic or Republican">
                <br>
                <label for="budget">What's your budget?</label>
                <input type="text" id="user-budget" name="user-budget" placeholder="$4700 max per candidate">
                <br>
                <label for="minority">Minorities?</label>
                <input type="text" id="user-minority" name="user-minority", placeholder="e.g. Women, LGBT, ...">
                <br>
            </div>

            <div>
                <button type="submit" class="btn btn-default btn-lg">Find my state candidate!</button>
            </div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </main> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
        <h3>Results:</h3>
        <p class="lead">If X many people donate Y amount, this could be the impact!</p>
      </div>

      <table class="table table-hover">
      <tr>
          <th>Candidate</th>
          <th>Office</th>
          <th>Win Chance Before</th>
          <th>Win Chance After</th>
          <th>Impact</th>
<!--          <th>Preference Score</th>-->
          <th>Campaign Site Link<th></tr>
      {% for record in recommendations %}
      <tr><td>{{ record['name']}}</td>
          <td>{{ record['office']}}</td>
          <td>{{ record['win_chance_before'] }}</td>
          <td>{{ record['win_chance_after'] }}</td>
          <td>{{ record['impact'] }}</td>
<!--          <td>{{ record['pref_score'] }}</td>-->
          <td><a href={{ record['web_link'] }}>{{ record['web_link'] }}</a></td>
      </tr>
      {% endfor %}
      </table>


     </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>